@charset "utf-8";
@import "range";

@mixin gutter($range, $px) {
	@media #{map-get($ranges, $range)} {
		.gutter-#{$range}-right-#{$px} {
			padding-right: #{$px}px;
		}
		.gutter-#{$range}-both-#{$px} {
			padding-right: #{$px}px;
			padding-left: #{$px}px;
		}
		.gutter-#{$range}-left-#{$px} {
			padding-left: #{$px}px;
		}
	}
}
